/* 
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

COLORS 
#ced4da, #e9ecef(tint) - hero background (light grey)
#343a40 - text
#007bff -accent #e6f2ff (tint button)

LINE HEIGHT 
normal text: 1.6

*/

:root {
  --clr-primary-neutral: #ced4da;
  --clr-accent-neutral: #007bff;
  --clr-text: #343a40;
  --clr-btn: linear-gradient(
    90deg,
    rgba(63, 103, 251, 1) 0%,
    rgba(70, 228, 252, 1) 100%
  );
}

/*---------------- UTILITY CLASSES----------------- */
/* ------------------------------------------------ */

.container {
  max-width: 120rem;
  margin-inline: auto;
  padding: 9.6rem 3.2rem;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.margin-right {
  margin-right: 2.4rem;
}

/*----------------- GENERAL STYLES----------------- */
/* ------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1REM = 10px */
html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.heading-primary {
  font-size: 6.2rem;
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.1;
  letter-spacing: -0.5;
  margin-bottom: 4.4rem;
}

.subheading {
  font-size: 1.8rem;
  color: #00254c;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: #e6f2ff;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background: rgb(63, 103, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 103, 251, 1) 20%,
    rgb(0, 171, 197) 100%
  );

  padding: 1.6rem 3.2rem;
  border-radius: 1.2rem;

  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

  transition: all 0.3s;
}

.btn:hover,
.btn:focus {
  outline: none;
  background: rgb(63, 103, 251);
  background: linear-gradient(
    90deg,
    rgb(14, 66, 253) 50%,
    rgb(0, 171, 197) 100%
  );
}

.btn-icon {
  font-size: 2.4rem;
  margin-right: 1.2rem;
  vertical-align: middle;
}

.primary-nav a:link,
.primary-nav a:visited {
  display: inline-block;
  position: relative;
  color: #343a40;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
}

.primary-nav a:link::after,
.primary-nav a:visited::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.primary-nav a:hover::after,
.primary-nav a:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.primary-nav a:hover,
.primary-nav a:focus {
  outline: none;
}

/* ICONS */
.html-icon {
  color: #fd7e14;
}

.css-icon {
  color: #228be6;
}

.js-icon {
  color: #ffd43b;
}

.responsive-icon {
  color: #12b886;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

.btn-mobile-nav {
  margin-left: auto;
}

/*----------------- STICKY NAV -------------------- */
/* ------------------------------------------------ */

.sticky .primary-header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  background-color: hsla(0, 0%, 100%, 0.9);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/*---------------------- HEADER-------------------- */
/* ------------------------------------------------ */

.primary-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 4.8rem;
  /* background-color: var(--clr-primary-neutral); */

  background-color: #15edf0;
}

.primary-nav {
  display: flex;
  gap: 9.6rem;
  list-style: none;
  font-size: 1.8rem;
}

.logo {
  font-size: 3.2rem;
}

/*------------------ SECTION HERO------------------ */
/* ------------------------------------------------ */

.section-hero {
  /* background-color: #ced4da; */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(21, 237, 240, 1) 100%
  );
}

.hero {
  column-gap: 4.8rem;
}

.hero-text-box {
  margin-block: auto;
}

.hero-description {
  font-size: 2.4rem;
  line-height: 1.6;
  color: var(--clr-text);
  margin-bottom: 2.4rem;
}

.hero-img {
  width: 100%;
  border-radius: 100svh;
}

.heading-primary span {
  text-decoration: underline solid var(--clr-accent-neutral);
}

/*---------------------- NAV ---------------------- */
/* ------------------------------------------------ */
.primary-nav {
  text-transform: uppercase;
}

/*---------------------- HEADER-------------------- */
/* ------------------------------------------------ */

.project-img-box img {
  width: 100%;
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
}

.project-name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.project-description-box {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  height: 100%;
}

.project-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}

.technologies-list {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 1.2rem;
  font-size: 1.8rem;
  list-style: none;
  margin-bottom: 2.4rem;
}

.projects-icon {
  margin-right: 1.2rem;
  font-size: 2.4rem;
  vertical-align: middle;
}

.projects-links {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.project-link:link,
.projects-link:visited {
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
}

.projects-more {
  margin-top: 2.4rem;
  text-align: center;
}

.projects-more a:link,
.projects-more a:visited {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.projects-more a:hover,
.projects-more a:focus {
  border-bottom: 3px solid var(--clr-accent-neutral);
  outline: none;
}

/*------------------- ABOUT ME--------------------- */
/* ------------------------------------------------ */

.section-about-me {
  /* background-image: linear-gradient(to right bottom, #ced4da, #e9ecef); */
  background: rgb(21, 237, 240);
  background: radial-gradient(
    circle,
    rgba(21, 237, 240, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.about-me-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*------------------- SCROLLER--------------------- */
/* ------------------------------------------------ */

.scroller {
  max-width: 100rem;
  margin-inline: auto;
  margin-block: 2rem;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.scroller[data-animated='true'] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated='true'] .scroller__inner {
  width: fit-content;
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.scroller__inner li {
  display: inline-block;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem -0.25rem #ced4da;

  background-color: #ced4da;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/*------------------- SLIDER ---------------------- */
/* ------------------------------------------------ */

.slider img {
  flex: 1 0 100%;
  object-fit: cover;
}

.slider-wrapper {
  position: relative;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider-wrapper i {
  position: absolute;
  top: 50%;
  height: 45px;
  width: 45px;
  cursor: pointer;
  font-size: 3rem;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  background: rgb(0, 171, 197) 100%;
  transform: translateY(-50%);
}

.slider-wrapper i:first-child {
  left: -23px;
}

.slider-wrapper i:last-child {
  right: -23px;
}

/*------------------- FOOTER ---------------------- */
/* ------------------------------------------------ */

.footer-box {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 2rem;
  border-top: 0.5px solid #ddd;
}

@media (max-width: 700px) {
  .footer-box {
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
    column-gap: 10rem;
  }

  .motto {
    grid-column: 1 / 3;
    grid-row: -1;
  }
}

.motto-header {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.motto {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
}

.social-list,
.secondary-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
}

.social-list ion-icon {
  color: var(--clr-text);
  margin-right: 1rem;
}

.social-list li a:link,
.social-list li a:active,
.secondary-nav li a:link,
.secondary-nav li a:active {
  color: var(--clr-text);
  text-decoration: none;
}

.copyrights {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.footer-subheading {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
